.EDR{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 27px 100px 10PX 20PX;
    background-color: #2d976f;
    font-family: serif;
    box-shadow: 2px 2px 10px #2d976f;
    height: 40px;
}
.fn{
    margin-left: 2%;
}
h2{
    display: inline;
    color: white;
}
#lolo{
    float: right;
    display: inline;
    margin-top: 8px;
}
.total{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 10px;
}
.total:hover{
    color: rgb(255, 94, 0);
}
@media only screen and (max-width: 767px) {

    .total{
        display: none;
    }
}
/* esto ya es para abajo */