*{
    padding: 0%;
    margin: 0%;
}
.EDR{
    text-align: left;
    background-color: orange;
    padding-left: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
}
#div1{
    text-align: center;
}
#div2{
    text-align: left;
}

header a{
    margin-left: 3%;
    font-size: 110%;
}
nav{
    margin-left: 5%;
    margin-top: 1%;
}
#frame{
    margin-left: 17%;
    margin-top: 6%;
}
a{
    text-decoration: none;
    color: black;
}